@keyframes readMore {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(4px);
  }
}

@keyframes readMoreRevert {
  0% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0px);
  }
}

.animateReadButton:hover svg {
  animation-name: readMore;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.animateReadButton:not(:hover) svg {
  animation-name: readMoreRevert;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
